---
import LinkButton from "./LinkButton.astro";
import NextJS from "../icons/NextJS.astro";
import Tailwind from "../icons/Tailwind.astro";
import Wordpress from "../icons/Wordpress.astro";
import Lua from "../icons/Lua.astro";
import MySQL from "../icons/MySQL.astro";
import Link from "../icons/Link.astro";
import GitHub from "../icons/GitHub.astro";
import Html5 from "../icons/Html5.astro";
import JavaScript from "../icons/JavaScript.astro";
import Css from "../icons/Css.astro";
import Sanity from "../icons/Sanity.astro";
import Laravel from "../icons/Laravel.astro"
const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  WORDPRESS: {
    name: "Wordpress",
    class: "bg-[#003159] text-white",
    icon: Wordpress,
  },
  LUA: {
    name: "LUA",
    class: "bg-[#003159] text-white",
    icon: Lua,
  },
  MYSQL: {
    name: "MYSQL",
    class: "bg-[#003159] text-white",
    icon: MySQL,
  },
  HTML: {
    name: "HTML5",
    class: "bg-black text-white",
    icon: Html5,
  },
  CSS: {
    name: "CSS",
    class: "bg-black text-white",
    icon: Css,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-black text-white",
    icon: JavaScript,
  },
  SANITY: {
    name: "Sanity",
    class: "bg-black text-white",
    icon: Sanity,
  },
  LARAVEL: {
    name: "Laravel",
    class: "bg-black text-white",
    icon: Laravel,
  },
}
const PROJECTS = [
  {
  title: "QuadFinder - Plataforma de Exploración de Cuatriciclos",
  description:
    "Desarrollé una aplicación web enfocada en la exploración y comparación de cuatriciclos (ATV), permitiendo a los usuarios visualizar especificaciones técnicas, imágenes optimizadas y detalles de múltiples modelos en una interfaz moderna e intuitiva. Implementé arquitectura basada en Next.js con TypeScript, consumo de datos desde una API propia y optimización de rendimiento para una carga rápida y experiencia fluida. Proyecto desplegado en Vercel con enfoque en escalabilidad, SEO y buenas prácticas de desarrollo.",
  link: "https://quadfinder.vercel.app/",
  github: "hhttps://github.com/sebastianBenitez25/quadfinder",
  image: "/images/quadFinder.png",
  tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.MYSQL],
},
{
  title: "JurassicDraft - Sistema de Draft de Equipos",
  description:
    "Sistema web fullstack desarrollado como proyecto de egreso del bachillerato en informática en UTU. Participé en el desarrollo del frontend, panel de administración y en la implementación de lógica de negocio del sistema, incluyendo validaciones y reglas del draft. Se desarrollaron funcionalidades como autenticación de usuarios, gestión de roles y manejo de relaciones en base de datos. La aplicación permite administrar participantes, registrar selecciones y generar resultados de forma automática. Construido con Laravel, MySQL y Tailwind CSS, aplicando buenas prácticas de desarrollo y arquitectura organizada.",
    github: "https://github.com/JurassiCode/PROYECTO",
  image: "/images/jurassidraft.png",
  tags: [TAGS.LARAVEL, TAGS.MYSQL, TAGS.TAILWIND],
},
  {
    title: "EntreFronterasRP - Servidor de Roleplay en FiveM",
    description:
      "Servidor de Roleplay en FiveM con más de 3000 miembros en nuestra comunidad de Discord. Desarrollado con Lua, MySQL, HTML, CSS, NodeJs, Hosteado en VPs Linux & Windows.",
    link: "https://discord.gg/entrefronterasrp",
    image: "/images/efrp.webp",
    tags: [TAGS.LUA, TAGS.MYSQL],
  },
  {
    title: "EFRP DASHBOARD - Panel de control para finanzas",
    description:
      "Plataforma para gestion de finanzas, ingresos, egresos y graficos con estadisticas, hecho a medida para llevar un control sobre las finanzas del servidor EntreFronterasRP.",
    image: "/images/EfrpDashboard.png",
    github: "https://github.com/Niatse/efrp-DashBoard",
        tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.MYSQL],
  },
  {
    title: "Coin Niatse - Crypto Data",
    description:
      "Pagina web en la cual se muestran las top 100 criptomonedas segun su MARKETCAP, con informacion detallada de cada una de ellas.",
    link: "https://coiniatse.netlify.app/",
    image: "/images/coiniatse.png",
    github: "https://github.com/Niatse/CoinNiatse",
        tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
  {
    title: "WebHackology - Blog de tecnologia",
    description:
      "Blog de tecnologia en el cual se publican articulos sobre tecnologia, programacion, hacking, y mucho mas.",
    link: "https://webhackology.vercel.app/",
    image: "/images/webhackology.png",
    github: "https://github.com/Niatse/webhackolog",
        tags: [TAGS.NEXT, TAGS.SANITY,],
  },
]
---
<div class="flex flex-col gap-y-16 ">
    {
      PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
    <div class="w-full md:w-1/2">
  <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
    <img  
      alt="Imagen"  
      class="w-full h-auto object-contain object-center md:scale-110 md:group-hover:scale-105"  
      loading="lazy"  
      src={image}  
    />
  </div>
</div>

  
    <div class="w-full md:w-1/2 md:max-w-lg">
      <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
        {title}
      </h3>
      <div class="flex flex-wrap mt-2">
        <ul class="flex flex-row mb-2 gap-x-2">
            {tags.map((tag) => (
              <li>
                <span
                  class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>
  
        <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
        <footer class="flex items-end justify-start mt-4 gap-x-4">
            {github && (
              <LinkButton href={github}>
                <GitHub class="size-6" />
                Repositorio
                
              </LinkButton>
            )}
            {link && (
              <LinkButton href={link}>
                <Link class="size-4" />
                Ver más
                </LinkButton>
            )}
          </footer>
      </div>
    </div>
  </article>
      ))
    }
  </div>